[Unit]
Description=Homework service

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/myownlog
ExecStart=/opt/logger.sh $WORD $LOG
Restart=on-failure
StartLimitBurst=0
Restart=on-failure

[Install]
WantedBy=multi-user.target

